html {
  box-sizing: border-box;
}

*, *::before, *::after; {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.masthead {
  background-image: url("../images/logo.svg");
  background-size: 75px auto;
  padding: 6em;
  background-repeat: no-repeat;
  background-position: center top;
  text-align: center;
}

img {
  width: 100%;
  display: block;
}

.learnmore {
  background-color: #3B3A33;
  padding: 1em;
}
